.services-card {
  background-color: white;
  margin: 10px;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-card-icon {
  color: #2487ce;
  font-size: 34px;
}

.services-card-title {
  color: #124265;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.services-card-text {
  color: #444444;
  font-size: 18px;
  line-height: 1.6;
}
